@use '../../styles/variables' as *;
@use '../../styles/textarea' as *;

.count-caracter {
    display: flex;
    flex-direction: column;
    padding: 3rem;

    &__title {
        font-size: 1.5rem;
        font-weight: 650;
        margin-bottom: 0.8rem;
        color: $light-purple;
    }

    &__result {
        margin-top: 0.9rem;
        display: flex;
        flex-direction: column;
    }

    &__result-text-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
    }

    &__char-bar-container {
        width: 100%;
        height: 8px;
        border-radius: 999px;
        margin-top: 0.5rem;
        background-color: #FFFFFF;
        overflow: hidden;
    }

    &__char-bar {
        width: 0;
        height: 100%;
        border-radius: 999px;
        transition: width 0.3s ease, background 0.2s;

        &--ok {
        background-color: $light-purple;
        }

        &--warning {
            background-color: $light-alert;
        }

        &--danger {
            background-color: $light-red-error;
        }
    }

    &__result-count {
        width: fit-content;
        height: 100%;
        font-size: 0.9rem;
        color: $light-primary;
        padding: 0.2rem 0.5rem;
        border-radius: 20px;

        &--ok {
        background-color: $light-purple;
        }

        &--warning {
            background-color: $light-alert;
        }

        &--danger {
            background-color: $light-red-error;
        }
    }
}

.textarea {
    padding: 1rem;
}