<header class="header">
  <div class="header-container">
    <img 
      class="header-container__logo"
      src="../../assets/img/logo-writer-toolbox.svg"
      alt="Logo do writer toolbox"
    >
    
    <nav class="header-container__navigation">
      <ul class="header-container__navigation-list">

        <li class="header-container__list-item">
          <a class="header-container__btn-header" (click)="goToCountCaracter()">Contador de caracteres</a>
        </li>

        <li class="header-container__list-item">
          <a class="header-container__btn-header" (click)="goToPushPreview()">Preview de push</a>
        </li>

        <li class="header-container__list-item">
          <a class="header-container__btn-header" (click)="goToEmailPreview()">Preview de e-mail</a>
        </li>

        <li class="header-container__list-item">
          <a class="header-container__btn-header" (click)="goToWppPreview()">Preview de whatsapp</a>
        </li>

        <!--<li class="header-container__list-item">
          <a class="header-container__btn-header" (click)="goToConfigationCount()">Limites configuráveis</a>
        </li>
      -->
      </ul>
    </nav>
  </div>
</header>
