@use '../../styles/variables' as *;
@use '../../styles/textarea' as *;

.header-container {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ece8fa;
    margin-left: 20px;

    &__logo {
        width: 80px;
    }

    &__navigation-list {
        display: flex;
        flex-direction: row;
        align-items: space-between;
        justify-content: center;
        list-style: none;
        gap: 5px;
        padding-top: 10px;
    }

    &__list-item {
        font-family: 'Inter', sans-serif;
        font-size: 12px;
        margin: 15px;
        cursor: pointer;

        a {
            padding: 10px;
            color: $light-btn-primary;
            border: none;
            border-radius: $border-radius;
            text-decoration: none;

            &:hover {
            color: #dad9d9;
            background-color: $light-btn-primary-hover;
            }
        }
    }
}