<header class="header">
  <div class="header-container">
    <a routerLink="/" class="header-container__logo-link">
      <img 
        class="header-container__logo"
        src="../../assets/img/logo-writer-toolbox.svg"
        alt="Logo do writer toolbox"
      >
    </a>
    
    <nav class="header-container__navigation">
      <ul class="header-container__navigation-list">

        <li class="header-container__list-item">
          <a 
            class="header-container__btn-header" 
            routerLink="/count-caracter"
            routerLinkActive="header-container__btn-header--active"
          >
            Contador de caracteres
          </a>
        </li>

        <li class="header-container__list-item">
          <a 
            class="header-container__btn-header" 
            routerLink="/push-preview"
            routerLinkActive="header-container__btn-header--active"
            [routerLinkActiveOptions]="{exact: true}"
          >
            Preview de push
          </a>
        </li>

        <li class="header-container__list-item">
          <a 
            class="header-container__btn-header" 
            routerLink="/email-preview"
            routerLinkActive="header-container__btn-header--active"
          >
            Preview de e-mail
          </a>
        </li>

        <li class="header-container__list-item">
          <a 
            class="header-container__btn-header" 
            routerLink="/whatsapp-preview"
            routerLinkActive="header-container__btn-header--active"
          >
            Preview de WhatsApp
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
