@use '../../styles/variables' as *;

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: $light-purple;

    &__text {
        font-size: 14px;
        color: $light-primary;
        margin-bottom: 0;
    }

    &__email {
        background-color: $light-purple;
        font-size: 14px;
    }
}

