@use '../../styles/variables' as *;
@use '../../styles/textarea' as *;

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: $light-purple;

    & .footer-text {
        background-color: $light-purple;
        &__main {
            background-color: $light-purple;
            font-size: 14px;
            color: $light-primary;
            margin-bottom: 0;

            & .footer-text__email {
                background-color: $light-purple;
                font-size: 12px;
                color: $light-primary;
                cursor: text;

                &:hover {
                    color: $light-primary;
                }
            }
        }
    }
}