@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../styles/variables';

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #dbdbdb;

    & .header {
        & .img-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            & img {
                width: 3rem;

                @include media-breakpoint-up(md) {
                    width: 10rem;
                }
            }
        }    
    }

    & .navigation {
        & .navigation-list {
            display: flex;
            flex-direction: row;
            align-items: space-between;
            list-style: none;
            gap: 5px;
            padding-top: 10px;

            &__item {
                font-family: 'Inter', sans-serif;
                font-size: 12px;
                margin: 15px;
                cursor: pointer;

                & a {
                    padding: 10px;
                    background-color: $light-btn-primary;
                    color: $light-primary;
                    border: none;
                    border-radius: $border-radius;
                    text-decoration: none;

                    &:hover {
                        color: #dad9d9;
                        background-color: $light-btn-primary-hover;
                    }
                }
            }

            @include media-breakpoint-up(md) {
                gap: 50px;
            }
        }
    }
}