@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../styles/variables';

.count-caracter {
    display: flex;
    flex-direction: column;
    padding: 3rem;

    &__title {
        font-size: 1.5rem;
        font-weight: 650;
        margin-bottom: 0.8rem;
        color: $light-purple;
    }

    &__textarea {
        width: 100%;
        height: 100px;
        padding: 1rem;
        border: 1px solid $light-purple;
        border-radius: $border-radius;
        font-size: 1rem;
        color: $light-text;
        background-color: $light-cards;

        &:focus {
            outline: none;
            border-color: $light-purple-hover;
            box-shadow: 0 0 0 0.2rem rgba($light-purple-hover, 0.25);
        }
    }

    &__result {
        margin-top: 0.9rem;
        display: flex;
        flex-direction: column;
    }

    &__result-text-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
    }

    &__char-bar-container {
        width: 100%;
        height: 8px;
        border-radius: 999px;
        margin-top: 0.5rem;
        background-color: #FFFFFF;
        overflow: hidden;
    }

    &__char-bar {
        width: 0;
        height: 100%;
        border-radius: 999px;
        transition: width 0.3s ease, background 0.2s;

        &--ok {
        background-color: $light-purple;
        }

        &--warning {
            background-color: $light-alert;
        }

        &--danger {
            background-color: $light-red-error;
        }
    }

    &__result-count {
        width: fit-content;
        height: 100%;
        font-size: 0.9rem;
        color: $light-primary;
        padding: 0.2rem 0.5rem;
        border-radius: 20px;

        &--ok {
        background-color: $light-purple;
        }

        &--warning {
            background-color: $light-alert;
        }

        &--danger {
            background-color: $light-red-error;
        }
    }
}