.device-phone {
    width: 100%;
    position: relative;
    left: 100px;
    img {
        width: 750px;
    } 
}

.device-content {
    width: 84%;
    position: absolute;
    top: 83px;
    left: 65px;
}
