@use 'variables' as *;

.textarea {
    width: 100%;
    height: 60px;
    border: 1px solid $light-purple;
    border-radius: $border-radius;
    font-size: 1rem;
    color: $light-text;
    background-color: #f4f2fa;
    padding: 20px;
    overflow: hidden;

    &:focus {
        outline: none;
        border-color: $light-purple-hover;
        box-shadow: 0 0 0 0.2rem rgba($light-purple-hover, 0.25);
    }

    &::placeholder {
        font-size: 14px;
        line-height: 1.5;
        color: #9061F9;
    }
}