@use '../../styles/variables' as *;
@use '../../styles/textarea' as *;

.config-count-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
    gap: 8px;
    font-size: 14px;

    input {
        width: 3rem;
        border-radius: $border-radius;
        text-align: center;
        margin-bottom: 10px;
    }
}