<div class="wpp-container">
    <div class="wpp-container__textarea">
        <h2>Preview de Whatsapp</h2>

        @for (whatsapp of whatsapp; track $index) {
            <div class="wpp-container__inputMessage">
                <label for="message">
                    Mensagem
                    @if ($index > 0) {
                        {{ $index + 1}}
                    }
                </label>
                <textarea 
                    class="textarea" 
                    placeholder="Digite a mensagem"
                    (input)="onMessageChange($event, $index)"
                    [(ngModel)]="whatsapp.message"
                ></textarea>

                <span
                    id="result-char-message"
                    class="result-char-message__result-count"
                    [ngClass]="'result-char-message__result-count--' + getStatusMessage()"
                >

                    {{ charCountMessage }} / {{ limitMessage }}
                </span>

                @if (shouldShowWarningMessage($index)) {
                    <div class="preview-tip">
                        <span class="preview-tip__text">
                            <img 
                                src="../../assets/atencao.png" 
                                alt="Ícone de atenção" 
                                class="preview-tip__icon"
                            >
                            <p 
                                class="preview-tip__paragrafh"
                                [innerHTML]="whatsappWarning"
                            >
                            </p>
                        </span>
                    </div>
                }  
            </div>

        <!--
            <div class="buttons">
                <label for="button">
                    Botão 1
                    @if ($index > 0) {
                        {{ $index + 1}}
                    }
                </label>
                <textarea 
                    class="textarea" 
                    placeholder="Digite o botão 1"
                    (input)="onButtonChange($event, $index)"
                    [(ngModel)]="whatsapp.button"
                ></textarea>

                ************* VAI FICAR? ****************
                <span
                    id="result-char-message"
                    class="result-char-message__result-count"
                >

                    {{ charCountMessage }}
                </span>
                ***************************************************

                <label for="button">
                    Botão 2
                    @if ($index > 0) {
                        {{ $index + 1}}
                    }
                </label>
                <textarea 
                    class="textarea" 
                    placeholder="Digite o botão 2"
                    (input)="onButtonChange($event, $index)"
                    [(ngModel)]="whatsapp.button"
                ></textarea>

                ************* VAI FICAR? ****************
                <span
                    id="result-char-button"
                    class="result-char-button-count"
                >

                    {{ charCountbutton }}
                </span>
                *******************************************
            </div>
        -->
        }

        <button 
            class="wpp-container__button btn-primary-purple"
            (click)="clearWpp()"
        >
                Limpar
        </button>
    </div>        

    <app-device-preview [width]="'630px'">
        <ng-content>
            <div class="wpp-container__preview-wpp">
                <div class="wpp-container__background-wpp"></div>

                <div class="wpp-container__box-enterprise">
                    <div class="wpp-container__box-top-wpp">
                        <div class="wpp-container__elements">
                            <img src="../../assets/img/back.png" alt="Seta para voltar" class="wpp-container__icon-back">
                        
                            <div class="wpp-container__logo-icon">
                                <img 
                                    src="../../assets/img/logo-writer-toolbox.svg" 
                                    alt="Logo Writer Tool Box"
                                    class="wpp-container__logo-tool"
                                >
                            </div>

                            <div class="wpp-container__name">
                                Writer Tool Box &#x2705;
                            </div>

                            <div class="wpp-container__settings">
                                . . .
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="wpp-container__date">
                    <div class="wpp-container__date-text">Hoje</div>
                </div>

                @for (whatsapp of whatsapp; track $index) {
                    <div class="wpp-container__message-wpp">
                        
                        <span class="wpp-container__message-text-wpp">
                            {{ getPreviewText(whatsapp.message) || 'Teste da sua mensagem (escreva até 350 caracteres para aparecer completa)' }}
                            
                            @if (shouldShowReadMore(whatsapp.message)) {
                                <span
                                    class="wpp-container__message-see-more"
                                >
                                    Ler mais
                                </span>
                            }
                        </span>

                        <div class="wpp-container__botoes">
                            <span class="wpp-container__btn-primary">
                                Saiba mais
                            </span>

                            <span class="wpp-container__btn-outline">
                                Agora não
                            </span>
                        </div>
                    </div>
                }
            </div>
        </ng-content>
    </app-device-preview>
</div>
