@use '../../styles/variables' as *;
@use '../../styles/textarea' as *;

.wpp-container {
    padding: 48px;
}

.preview-wpp {
    width: 420px;
    height: 420px;
    background-color: red;
    border-radius: 16px 16px 0 0;
}