<div class="wpp-container">
    <div class="wpp-container__textarea">
        <h2>Preview de WhatsApp</h2>

        @for (whatsapp of whatsapp; track $index) {
            <div class="wpp-container__inputMessage">
                <app-text-input 
                    [label]="'Mensagem'"
                    [placeholder]="'Digite ou cole a mensagem aqui'"
                    [maxlength]="limitMessage"
                    [(value)]="whatsapp.message"
                    [limit]="limitMessage"
                    (valueChange)="onMessageChange($event, $index)"
                />

                @if (shouldShowWarningMessage($index)) {
                    <div class="preview-tip">
                        <span class="preview-tip__text">
                            <img 
                                src="../../assets/img/atencao.png" 
                                alt="Ícone de atenção" 
                                class="preview-tip__icon"
                            >
                            <p 
                                class="preview-tip__paragrafh"
                                [innerHTML]="whatsappWarning"
                            >
                            </p>
                        </span>
                    </div>
                } 
                
                <app-configuration-count (limitChange)="onMessageLimitChange($event)" />
            </div>

            <div class="wpp-container__buttons">
                <div class="wpp-container__button">
                    <app-text-input 
                        [label]="'1º botão'"
                        [placeholder]="'Digite ou cole o texto do botão aqui'"
                        [maxlength]="20"
                        [(value)]="whatsapp.button"
                        [limit]="limitButton"
                        (valueChange)="onButtonChange($event, $index)"
                    />

                    <app-configuration-count (limitChange)="onButtonLimitChange($event)" />
                </div>

                <div class="wpp-container__buttonTwo">
                    <app-text-input 
                        [label]="'2º botão'"
                        [placeholder]="'Digite ou cole o texto do botão aqui'"
                        [maxlength]="20"
                        [(value)]="whatsapp.buttonTwo"
                        [limit]="limitButtonTwo"
                        (valueChange)="onButtonTwoChange($event, $index)"
                    />

                    <app-configuration-count (limitChange)="onButtonTwoLimitChange($event)" />
                </div>
            </div>
        }

        <app-button-clear
            [label]="'Limpar'"
            (click)="clearWpp()"
        />
    </div>

    <app-device-preview [width]="'630px'">
        <ng-content>
            <div class="wpp-container__preview-wpp">
                <div class="wpp-container__background-wpp"></div>
                <div class="wpp-container__box-enterprise">
                    <div class="wpp-container__box-top-wpp">
                        <div class="wpp-container__elements">
                            <img src="../../assets/img/back.png" alt="Seta para voltar" class="wpp-container__icon-back">
                        
                            <div class="wpp-container__logo-icon">
                                <img 
                                    src="../../assets/img/logo-writer-toolbox.svg" 
                                    alt="Logo Writer Tool Box"
                                    class="wpp-container__logo-tool"
                                >
                            </div>

                            <div class="wpp-container__name">
                                Writer toolbox &#x2705;
                            </div>

                            <div class="wpp-container__settings">
                                . . .
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="wpp-container__date">
                    <div class="wpp-container__date-text">Hoje</div>
                </div>

                @for (whatsapp of whatsapp; track $index) {
                    <div class="wpp-container__message-wpp">
                        
                        <span class="wpp-container__message-text-wpp">
                            {{ getPreviewText(whatsapp.message) || 'Sua mensagem aparecerá aqui conforme você digita.' }}
                            
                            @if (shouldShowReadMore(whatsapp.message)) {
                                <button
                                        class="wpp-container__message-see-more"
                                        //(click)="openModal($index)"
                                    >
                                        Ler mais
                                </button>
                            }
                        </span>

                        <div class="wpp-container__botoes">
                            <span class="wpp-container__btn-primary">
                                {{ getPreviewText(whatsapp.button) || 'Saiba mais' }} 
                            </span>

                            <span class="wpp-container__btn-outline">
                                {{ getPreviewText(whatsapp.buttonTwo) || 'Agora não' }}
                            </span>
                        </div>
                    </div>
                }
            </div>
        </ng-content>
    </app-device-preview>
</div>
