@use '../../styles/button' as *;
@use '../../styles/textarea' as *;
@use '../../styles/variables' as *;

:host ::ng-deep .device-phone {
    margin-bottom: 1rem;
    margin-top: 50px;
}

.textarea {
    width: 400px;
    font-size: 14px;
    line-height: 1.5;
    color: #9061F9;
}

label {
    font-size: 22px;
    font-weight: 500;
    color: #9061F9;
}

.wpp-container {
    display: flex;
    flex-direction: row;
    padding: 48px;

    h2 {
        font-size: 2rem;
        font-weight: 650;
        color: #9061F9;
        margin-bottom: 0.8rem;
    }

    &__inputMessage {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    &__preview-wpp {
        width: 100%;
        height: 500px;
        border-radius: 16px 16px 0 0;
    }

    &__box-enterprise {
        height: 15%;
        display: flex;
        margin: 0 auto;
        padding: 20px;
        background-color: #1DAA61;
        border-radius: 10px 10px 0 0;
    }

    &__elements {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    &__icon-back {
        width: 20px;
        height: 20px;
    }

    &__logo-icon {
        width: 40px;
        height: 40px;
        background-color: #B69FFB;
        border-radius: 50%;
        margin-left: 50px;
    }

    &__logo-tool {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    &__name {
        font-size: 1rem;
        margin: 0 40px 0 10px;
        color: #ffffff;
    }

    &__settings {
        rotate: 90deg;
        font-weight: 600;
        margin-left: 240px;
        color: #ffffff;
    }

    &__background-wpp {
        width: 100%;
        height: 525px;
        border-radius: 16px 16px 0 0;
        position: absolute;
        z-index: -1;
        background-image: url('../../assets/img/wpp.jpg');
    }

    &__date {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__date-text {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        padding: 8px 8px;
        width: 70px;
        height: 25px;
        background-color: #ffffff;
        border-radius: 10px;
        font-size: 13px;
    }

    &__message-wpp {
        width: 312px;
        height: auto;
        margin: 10px 0 4px 10px;
        padding: 10px 10px 0;
        background-color: #ffffff;
        border-radius: 0 8px 8px;
    }

    &__botoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 15px;
    }

    &__btn-primary, 
    &__btn-outline {
        width: 300px;
        padding: 10px;
        color: #1DAA61;
        background-color: #ffffff;
        border-top: 1px solid rgb(185, 185, 185);
        text-align: center;
    }

    &__message-see-more {
        color: #1DAA61;
    }
}

.result-char-message__result-count {
    display: inline-block;
    width: fit-content;
    height: auto;
    font-size: 0.7rem;
    color: $light-primary;
    padding: 0.2rem 0.5rem;
    border-radius: 20px;
    background-color: $light-purple;
    margin-top: 8px;

    &--ok {
        background-color: $light-purple;
    }

    &--warning {
        background-color: $light-alert;
    }

    &--danger {
        background-color: $light-red-error;
    }
}

.preview-tip {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;

    &__text {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
    }

    &__icon {
        width: 15px;
        height: 15px;
        filter: brightness(0) saturate(100%) invert(42%) sepia(97%) saturate(1462%) hue-rotate(236deg) brightness(96%) contrast(95%);
    }

    &__paragrafh {
        font-size: 14px;
        color: $light-purple-hover;
        margin: 0;
        white-space: pre-line;
    }
}

