<div class="email-preview-container">
    <h2>Preview de e-mail</h2>
    <div class="email-preview-container__input-device">
        <div class="email-preview-container__container">
            @for (email of emails; track $index) {
                <div 
                    class="email-preview-container__input-text"
                >
                    <div class="email-preview-container__input-header">
                        <label for="titulo">
                            Nome empresa
                            @if ($index > 0) {
                                {{ $index + 1 }}
                            }
                        </label>
                        
                        <textarea 
                            class="textarea"
                            placeholder="Digite o nome da empresa"
                            [attr.maxlength]="limitName"
                            (input)="onNameChange($event,$index)"
                            [(ngModel)]="email.nameEnterprise"
                        ></textarea>
                        <span 
                            id="result-char-header"
                            class="result-char-header__result-count"
                            [ngClass]="'result-char-header__result-count--' + getStatusName()"
                        >
                            {{ charCountName }} / {{ limitName }}

                        </span>
                    </div>

                    <div class="email-preview-container__input-header">
                        <label for="titulo">
                            Assunto
                            @if ($index > 0) {
                                {{ $index + 1 }}
                            }
                        </label>
                        <textarea
                            class="textarea"
                            placeholder="Digite o header"
                            [attr.maxlength]="limitHeader"
                            (input)="onHeaderChange($event,$index)"
                            [(ngModel)]="email.headerText"
                        ></textarea>
                        <span 
                            id="result-char-header"
                            class="result-char-header__result-count"
                            [ngClass]="'result-char-header__result-count--' + getStatusHeader()"
                        >
                            {{ charCountHeader }} / {{ limitHeader }}

                        </span>
                    </div>                    

                    <div class="email-preview-container__input-pre-header">
                        <label for="pre-header">
                            Pré-header
                            @if ($index > 0) {
                                {{ $index + 1 }}
                            }
                        </label>
                        <textarea
                            class="textarea"
                            placeholder="Digite o pré-header"
                            [attr.maxlength]="limitPreHeader"
                            (input)="onPreHeaderChange($event,$index)"
                            [(ngModel)]="email.preHeaderText"
                        ></textarea>
                        <span 
                            id="result-char-header"
                            class="result-char-header__result-count"
                            [ngClass]="'result-char-header__result-count--' + getStatusPreHeader()"
                        >
                            {{ charCountPreHeader }} / {{ limitPreHeader }}

                        </span>

                        @if (shouldShowPreviewTip()) {
                            <div class="preview-tip">
                                <span class="preview-tip__text">
                                    <img 
                                        src="../../assets/atencao.png" alt="Ícone de atenção" 
                                        class="preview-tip__icon"
                                    >
                                    <p 
                                        class="preview-tip__paragrafh"
                                        [innerHTML]="complementText()"
                                    >
                                        {{ complementText() }}
                                    </p>
                                </span>
                            </div>
                        }
                    </div>
                </div>       
            }

            <div class="btn-preview">
                <button 
                    class="btn-primary-purple"
                    (click)="addNewPeview()"
                    [disabled]="emails.length >= 2"
                >
                    Adicionar + 
                </button>
                <button 
                    class="btn-primary-purple"
                    (click)="clearPreview()"
                >
                    Limpar 
                </button>
            </div>
            
        </div>
        

        <app-device-preview>
            <div class="email-device">

                <div class="header-email">
                    <div class="menu-hamburguer">
                        <div class="hamburguer"></div>
                        <div class="hamburguer"></div>
                        <div class="hamburguer"></div>
                    </div>
                    <div class="search-email">Pesquisar no e-mail</div>
                    <div class="foto-user"></div>
                </div>

                <div class="top-email">
                    <p>Caixa de entrada</p>
                </div>

                @for (email of emails; track $index) {
                    <div class="container-email">

                        <div class="box-email">

                            <div class="icon-container">
                                <span class="icon">
                                    <p class="icon__name-icon">WT</p>
                                </span>
                            </div>
                            
                            <div class="texts-email">
                                <div class="text-name-email">
                                    <span class="text-name-device">
                                        {{ email.nameEnterprise }}
                                    </span>
                                </div>
                                <span class="data">10:41</span>
                                
                                <div class="text-header-preheader">
                                    <div class="text-header-email">
                                        <span class="text-header-device">
                                            {{ truncateText(email.headerText, 60) }}
                                        </span>
                                    </div>

                                    <div class="text-pre-header-email">
                                        <span class="text-pre-header-device">
                                            {{ truncateText(email.preHeaderText, 60) }} 
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }        
            </div>
        </app-device-preview>
    </div>
</div>
<div class="configuration">
    <h2 class="title-config">Configurações</h2>
    <app-configuration-count (limitChange)="onNameLimitChange($event)">
        <span class="config-count__span">Nome empresa</span>
    </app-configuration-count>

    <app-configuration-count (limitChange)="onHeaderLimitChange($event)">
        <span class="config-count__span">Assunto</span>
    </app-configuration-count>

    <app-configuration-count (limitChange)="onPreHeaderLimitChange($event)">
        <span class="config-count__span">Pré-header</span>
    </app-configuration-count>
</div>