@import "bootstrap/scss/bootstrap";
@import 'styles/font.css';
@import 'devices.css/dist/devices.min.css';

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    //background-color: #FFFFFF;
}