<div class="push-preview-container">
    <h2>Preview de push</h2>
    <div class="push-preview-container__input-device">
        <div class="push-preview-container__input-text">
            <div class="push-preview-container__input-header">
                <label for="titulo">Header</label>
                <textarea 
                    type="text" 
                    class="textarea"
                    placeholder="Digite o header"
                ></textarea>
            </div>

            <div class="push-preview-container__input-pre-header">
                <label for="pre-header">Pré Header</label>
                <textarea
                    type="text" 
                    class="textarea"
                    placeholder="Digite o pré-header"
                ></textarea>
            </div>
        </div>
        <app-device-preview>
            <div class="text-device">
                <span class="text-header-device">
                Teste do Header no Device
                </span>
            
                <span class="text-header-device">
                    Teste do Pré Header no Device
                </span>
            </div>
        </app-device-preview>
    </div>    
</div>