<div class="push-preview-container">
    <h2>Preview de push</h2>
    <div class="push-preview-container__input-device">
        
        @for (push of push; track $index) {
            <div class="push-preview-container__input-text">
                <div class="push-preview-container__input-title">
                    <app-text-input 
                        [label]="'Título'"
                        [placeholder]="'Digite o título do push'"
                        [maxlength]="100"
                        [(value)]="push.title"
                        [limit]="limitTitle"
                        (valueChange)="onTitleChange($event, $index)"
                    />

                    <app-configuration-count (limitChange)="onTitleLimitChange($event)" />
                    
                </div>

                <div class="push-preview-container__input-body">
                    <app-text-input 
                        [label]="'Corpo do push'"
                        [placeholder]="'Digite o corpo do push'"
                        [maxlength]="100"
                        [(value)]="push.body"
                        [limit]="limitBody"
                        (valueChange)="onBodyChange($event, $index)"
                        
                    />

                    <app-configuration-count (limitChange)="onBodyLimitChange($event)" />
    
                </div>

                <app-button-clear
                    [label]="'Limpar'"
                    (click)="clearPush($index)"
                />
            </div> 
        }
    
        <!-- Conteúdo do push -->            
        <app-device-preview>
            
                @for (push of push; track $index) {
                    <div class="push-container">
                        <div 
                            class="push-container__container-closed"
                            [ngClass]="'push-container__container-closed--' + getRotateArrow()"
                        >
                            <div class="push-container__closed-top">
                                <div class="push-container__title-icon">
                                    <div class="push-container__logo">
                                        <img
                                            class="push-container__element-icon"
                                            src="../../assets/img/cursor-wtb.png" 
                                            alt="Ícone cursor Writer Tool Box"
                                        >
                                    </div>
                                
                                    <div class="push-container__name">
                                        Writer toolbox
                                    </div>

                                    <div class="push-container__now-device">
                                        <span class="push-container__now">
                                            • now
                                        </span>
                                    </div>

                                    <div id="arrow" class="push-container__arrow">
                                        <img 
                                            src="../../assets/img/down-arrow.png" 
                                            alt="Ícone de seta"
                                            class="push-container__arrow-icon"
                                            (click)="alternStateExpanded()"
                                            [ngClass]="'push-container__arrow-icon--' + getRotateArrow()"
                                        >
                                    </div>                                    
                                </div>
                            </div>

                            <div class="push-container__title-device">
                                <span class="push-container__title">
                                    {{ getPreviewText(push.title) ||'Teste do título no device' }}
                                </span>
                            </div>

                            <div class="push-container__body">
                                <div class="push-container__text-device">
                                    <span class="push-container__text">
                                        {{ getPreviewBody(push.body) ||'Teste do corpo no Device' }} 
                                    </span>
                                </div>
                            </div>
                        </div>
                    
                        @if (isExpanded) {
                            <div class="push-container__container-expanded">
                                <img 
                                    src="/assets/img/kt-wpp.png" 
                                    alt="Exemplo de imagem para push" 
                                    class="push-container__image"
                                >
                            </div>
                        }
                    </div>
                }
            </app-device-preview>
    </div>    
</div>