<section class="home">

    <h1 class="home__title">Writer Toolbox</h1>
        
    <h2 class="home__subtitle">Escreva, teste e visualize suas comunicações em um só lugar.</h2>

    <p class="home__paragraph">Confira limites de caracteres e visualize como seus conteúdos podem aparecer antes do disparo.</p>

    <div class="home__cards-container">
        
        <a routerLink="/count-caracter">
            <div class="card">
                <img 
                    src="../../assets/img/pages-wtb/contador.PNG" 
                    alt="Contador de caracteres do Writer Toolbox" 
                    class="card-img-top"
                >
                <div class="card-body">
                    <h2 class="card-title">Contador de caracteres</h2>
                    <p class="card-text">Veja o número de caracteres em tempo real e garanta que seu conteúdo esteja dentro dos limites permitidos e definidos.</p>
                    
                </div>
            </div>
        </a>

        <a routerLink="/push-preview">
            <div class="card">
                <img 
                    src="../../assets/img/pages-wtb/push.PNG" 
                    alt="Preview de Push do Writer Toolbox" 
                    class="card-img-top"
                >
                <div class="card-body">
                    <h2 class="card-title">Preview de Push</h2>
                    <p class="card-text">Visualize como seu conteúdo aparecerá em notificações push antes do disparo.</p>
                   
                </div>
            </div>
        </a>

        <a routerLink="/email-preview">
            <div class="card">
                <img 
                    src="../../assets/img/pages-wtb/email.PNG" 
                    alt="Preview de Email do Writer Toolbox" 
                    class="card-img-top"
                >
                <div class="card-body">
                    <h2 class="card-title">Preview de Email</h2>
                    <p class="card-text">Visualize como seu conteúdo aparecerá em emails antes do disparo.</p>
                </div>
            </div>
        </a>

        <a routerLink="/whatsapp-preview">
            <div class="card">
                <img 
                    src="../../assets/img/pages-wtb/wpp.PNG" 
                    alt="Preview de Whatsapp do Writer Toolbox" 
                    class="card-img-top"
                >
                <div class="card-body">
                    <h2 class="card-title">Preview de Whatsapp</h2>
                    <p class="card-text">Visualize como seu conteúdo aparecerá em mensagens do Whatsapp antes do disparo.</p>
                </div>
            </div>
        </a>
    </div>
</section>
